@{
    ViewData["Title"] = "Products and Categories";
}
@model Product
<div class="row m-auto my-5 justify-content-evenly">
  <div class="col-4">
  <h4>New Product</h4>
  <hr>
    <form asp-action="NewProduct" asp-controller="Home" method="post">
      <div class="input-group mb-3">
        <label asp-for="Name" class="input-group-text"></label>
        <input asp-for="Name" class="form-control">
      </div>
        <span asp-validation-for="Name"></span>
      <div class="input-group mb-3">
        <label asp-for="Description" class="input-group-text"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
      </div>
        <span asp-validation-for="Description"></span>
      <div class="input-group mb-3">
        <label asp-for="Price" class="input-group-text"></label>
        <input asp-for="Price" class="form-control" type="number">
      </div>
        <span asp-validation-for="Price"></span>

      <button type="submint" class="btn btn-primary w-50 text-center mb-3">New Product</button>
    </form>
  </div>

  <div class="col-4">
  <h3>Existing Products</h3>
  <hr>
  <table class="table table-hover table-striped">
 
  @{
    foreach (var product in ViewBag.AllProducts)
    {
      <tr>
        <td>
          <a href="/products/@product.ProductId">@product.Name</a>
        </td>
      </tr>
    }
  }
  </table>
  </div>

</div>

