@* @model Guest *@
@* *@
@* <form asp-action="JoinMeet" asp-controller="Home" method="post"> *@
@*     <input type="hidden" name="JoinedUserId" value="@ViewBag.UserLoggedIn.UserId"/> *@
@*     <input type="hidden" name="EventId" value="@meet.MeetId"/> *@
@*     <button type="submit" asp-controller="Home" class="btn btn-primary">Join</button> *@
@* </form> *@