@model Wedding

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row mt-3 flex-column">
<h2 class="text-center col-4 m-auto">Plan Your Wedding</h2>
    <hr class="dropdown-divider col-5 m-auto my-3"/>
    <form asp-action="CreateWedding" asp-controller="Home" method="post" class="col-5 m-auto">
        <input type="hidden" asp-for="UserId" value="@ViewBag.UserLoggedIn.UserId"/>
        <div class="input-group mb-4">
            <span class="input-group-text">Lovers</span>
            <input asp-for="WedderOne" class="form-control">
            <input asp-for="WedderTwo" class="form-control">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Wedding Date</span>
            <input asp-for="Date" class="form-control">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Wedding Address</span>
            <input asp-for="Address" class="form-control">
        </div>
        <button class="btn btn-success w-50" type="submit">Add Wedding</button>
    </form>
</div>