@{
ViewData["Title"] = "CRUDelicious";
}
@model Dish
<div class="text-center">
    <h5 class="display-6">Add a new Dish!</h5>
</div>
<div class="container">
    <div class="row m-auto my-4 p-2 justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn px-2">Home</a>
        </div>
    </div>
    <hr class="card-separator col-12 p-0 my-0">
    <form asp-action="AddNewDish" asp-controller="Home" method="post" class="row">
        <div class="col-4 my-5">
            <div class="form-floating mb-3  text-end">
                <!-- Dish Name -->
                <input asp-for="Name" class="form-control" placeholder="Name">
                <label asp-for="Name"></label>
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>

            <div class="form-floating mb-3  text-end">
                <!-- Chef's Name -->
                <input asp-for="Chef" class="form-control" placeholder="Chef">
                <label asp-for="Chef"></label>
                <small><span asp-validation-for="Chef" class="text-danger"></span></small>
            </div>

            <div class="form-floating mb-3  text-end">
                <!-- Chef's Name -->
                <input asp-for="Calories" class="form-control" placeholder="Calories">
                <label asp-for="Calories"></label>
                <small><span asp-validation-for="Calories" class="text-danger"></span></small>
            </div>

        </div>
        <div class="col-4 my-5   text-end">
            <div class="form-floating">
                <select class="form-select" asp-for="Tastiness">
                    <option value="" selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label asp-for="Tastiness"></label>
                <small><span asp-validation-for="Tastiness" class="text-danger"></span></small>
            </div>
        </div>
        <div class="col-4 my-5   text-end">
            <div class="form-floating mb-3  text-end">
                <!-- Dish Name -->
                <textarea asp-for="Description" class="form-control" style="height: 12rem;"></textarea>
                <label asp-for="Description"></label>
                <small><span asp-validation-for="Description" class="text-danger"></span></small>
            </div>
        </div>
        <hr class="card-separator col-12 p-0 my-0">
        <button type="submit" class="btn btn-primary mt-3 self-align-end col-2 ms-auto">Send</button>


    </form>
</div>