@model Message

<h3>Post a message:</h3>

<form method="post" asp-action="postMessage" asp-controller="Home">

    <div class="form-floating mb-3">
        <input type="hidden" asp-for="UserId" value="@ViewBag.UserLoggedIn.UserId"/>
        <input asp-for="MessageText" class="form-control" placeholder="Type your message..."/>
        <label asp-for="MessageText"></label>
    </div>
    <input type="submit" value="Post" class="btn btn-outline-primary"/>
</form>